@model OnlineStudentAcademicAdvisory.Models.ChangePassword
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 border-radius-lg py-3 pe-1">
                    <h4 class="text-black font-weight-normal text-center mt-2 mb-0">Change Password</h4>

              
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    @using (Html.BeginForm("ChangePassword", "Home"))
    {
        <div class="text-start">
            <div class="input-group input-group-outline my-3">
                <label class="form-label">Old Password</label>
                @Html.TextBox("oldPassword", "", new { @class = "form-control", @type = "password" })

            </div>
            @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Password</label>
                @Html.TextBox("Password", "", new { @class = "form-control", @required = "required", @type = "password" })

            </div>
            <div class="input-group input-group-outline my-3">
                <label class="form-label">Confirm Passowrd</label>
                @Html.TextBox("ConfirmPassword", "", new { @class = "form-control", @required = "required", @type = "password" })

            </div>
            @Html.ValidationMessageFor(model => model.ConfirmPassowrd, "", new { @class = "text-danger" })

            <div class="text-center">
                <button type="submit" class="btn bg-success w-10 my-4 mb-2" href="@Url.Action("ChangePassword","Students")">Change</button>
            </div>
            
        </div>
    }
</div>
