<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OSAA | Online Student Academic Advisory </title>
    <meta property="og:title" content="Starter Template">
    <meta name="OSAA" content="OSAA">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="OSAA">
    <meta property="og:description" content="OSAA">
    <meta property="og:site_name" content="OSAA">
    <script type="application/ld+json">
    </script>
    <link rel="apple-touch-icon" sizes="144x144" href="~/Resources/assets/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Resources/assets/Hu-logo.png">
    <meta name="theme-color" content="#3063A0">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="~/Resources/assets/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Resources/assets/vendor/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Resources/assets/vendor/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="~/Resources/assets/stylesheets/theme.min.css" data-skin="default">
    <!--External css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Resources/assets/stylesheets/theme-dark.min.css" data-skin="dark">
    <link rel="stylesheet" href="~/Resources/assets/stylesheets/custom.css">

    <script>
        var skin = localStorage.getItem('skin') || 'default';
        var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
        // Disable unused skin immediately
        disabledSkinStylesheet.setAttribute('rel', '');
        disabledSkinStylesheet.setAttribute('disabled', true);
        // add loading class to html immediately
        document.querySelector('html').classList.add('loading');
    </script>

</head>
<body>
    <div class="app">
        <header class="app-header app-header-dark">
            <div class="top-bar">
                <div class="top-bar-brand">
                    <button class="hamburger hamburger-squeeze mr-2" type="button" data-toggle="aside-menu"
                            aria-label="toggle aside menu">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <a href="">
                        <img src="~/Resources/assets/Hu-logo.png" height="40" viewbox="0 0 360 50">
                        <defs>
                            <path id="a"
                                  d="M156.538 45.644v1.04a6.347 6.347 0 0 1-1.847 3.98L127.708 77.67a6.338 6.338 0 0 1-3.862 1.839h-1.272a6.34 6.34 0 0 1-3.862-1.839L91.728 50.664a6.353 6.353 0 0 1 0-9l9.11-9.117-2.136-2.138a3.171 3.171 0 0 0-4.498 0L80.711 43.913a3.177 3.177 0 0 0-.043 4.453l-.002.003.048.047 24.733 24.754-4.497 4.5a6.339 6.339 0 0 1-3.863 1.84h-1.27a6.337 6.337 0 0 1-3.863-1.84L64.971 50.665a6.353 6.353 0 0 1 0-9l26.983-27.008a6.336 6.336 0 0 1 4.498-1.869c1.626 0 3.252.622 4.498 1.87l26.986 27.006a6.353 6.353 0 0 1 0 9l-9.11 9.117 2.136 2.138a3.171 3.171 0 0 0 4.498 0l13.49-13.504a3.177 3.177 0 0 0 .046-4.453l.002-.002-.047-.048-24.737-24.754 4.498-4.5a6.344 6.344 0 0 1 8.996 0l26.983 27.006a6.347 6.347 0 0 1 1.847 3.98zm-46.707-4.095l-2.362 2.364a3.178 3.178 0 0 0 0 4.501l2.362 2.364 2.361-2.364a3.178 3.178 0 0 0 0-4.501l-2.361-2.364z">
                            </path>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <path fill="currentColor" fill-rule="nonzero"
                                  d="M39.252 80.385c-13.817 0-21.06-8.915-21.06-22.955V13.862H.81V.936h33.762V58.1c0 6.797 4.346 9.026 9.026 9.026 2.563 0 5.237-.446 8.58-1.783l3.677 12.034c-5.794 1.894-9.694 3.009-16.603 3.009zM164.213 99.55V23.78h13.372l1.225 5.571h.335c4.457-4.011 10.585-6.908 16.491-6.908 13.817 0 22.174 11.031 22.174 28.08 0 18.943-11.588 29.863-23.957 29.863-4.903 0-9.694-2.117-13.594-6.017h-.446l.78 9.025V99.55h-16.38zm25.852-32.537c6.128 0 10.92-4.903 10.92-16.268 0-9.917-3.232-14.932-10.14-14.932-3.566 0-6.797 1.56-10.252 5.126v22.397c3.12 2.674 6.686 3.677 9.472 3.677zm69.643 13.372c-17.272 0-30.643-10.586-30.643-28.972 0-18.163 13.928-28.971 28.748-28.971 17.049 0 26.075 11.477 26.075 26.52 0 3.008-.558 6.017-.78 7.354h-37.663c1.56 8.023 7.465 11.589 16.491 11.589 5.014 0 9.36-1.337 14.263-3.9l5.46 9.917c-6.351 4.011-14.597 6.463-21.951 6.463zm-1.338-45.463c-6.462 0-11.031 3.454-12.702 10.363h23.622c-.78-6.797-4.568-10.363-10.92-10.363zm44.238 44.126V23.779h13.371l1.337 12.034h.334c5.46-9.025 13.595-13.371 22.398-13.371 4.902 0 7.465.78 10.697 2.228l-3.343 13.706c-3.454-1.003-5.683-1.56-9.806-1.56-6.797 0-13.928 3.566-18.608 13.483v28.749h-16.38z">
                            </path>
                            <use class="fill-warning" xlink:href="#a"></use>
                        </g>

                    </a>
                </div>
                <div class="top-bar-list">
                    <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
                        <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu">
                            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
                        </button>
                    </div>
                    <div class="top-bar-item top-bar-item-full">
                    </div>
                    <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
                        <div>
                            <ul class="header-nav nav">
                                <li class="nav-item dropdown header-nav-dropdown">
                                    <h1>
                                        <img src="~/Resources/assets/Hu-white.svg" height="0" width="0">
                                    </h1>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown d-none d-md-flex">

                            <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="user-avatar user-avatar-md">
                                    @if (Session["StudentId"] != null)
                                    {
                                        <img src="@Url.Content(Session["ProfilePictureURL"].ToString())" alt="" />
                                    }
                                    @if (Session["InstructorId"] != null)
                                    {
                                        if (Session["InstructorProfilePictureURL"] != null)
                                        {
                                            <img src="@Url.Content(Session["InstructorProfilePictureURL"].ToString())" alt="" />

                                        }

                                        else if (Session["HeadProfilePictureURL"] != null)
                                        {
                                            <img src="@Url.Content(Session["HeadProfilePictureURL"].ToString())" alt="" />
                                        }

                                    }
                                    @if (Session["SystemAdminId"] != null)
                                    {
                                        <img src="@Url.Content(Session["AdminProfilePictureURL"].ToString())" alt="" />
                                    }
                                    else
                                    {
                                        <img src="~/assets/images/baseline_school_black_24dp.png" alt="" class="Avatar center rounded-circle " width="150" height="150" />

                                    }

                                </span>
                                <span class="account-summary pr-lg-4 d-none d-lg-block">
                                    <span class="account-name">@Session["FirstName"] @Session["MiddleName"]</span>
                                    <span class="account-description">@Session["Department"]</span>
                                </span>
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                                <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                                <h6 class="dropdown-header d-none d-md-block d-lg-none"> @Session["FirstName"] @Session["MiddleName"] </h6>
                                <a class="dropdown-item" href="#"><span class="dropdown-icon oi oi-person"></span> Profile</a>
                                <a class="dropdown-item" href="@Url.Action("Logout","Home")">
                                    <span class="dropdown-icon oi oi-account-logout"></span>Logout
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword","Home")">
                                    <span class="dropdown-icon oi oi-key"></span>Change Password
                                </a>
                                <a class="dropdown-item" href="@Url.Action("FAQ","Home")">
                                    <span class="dropdown-icon oi oi-bookmark"></span> FAQ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <aside class="app-aside app-aside-expand-md app-aside-light">
            <div class="aside-content">

                <header class="aside-header d-block d-md-none">

                    <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
                        @*<span class="user-avatar user-avatar-lg"><img src="~/Resources/assets/defualt.jpg" alt=""></span>*@
                        <span class="user-avatar user-avatar-md">
                            @if (Session["StudentId"] != null)
                            {
                                <img src="@Url.Content(Session["ProfilePictureURL"].ToString())" alt="" />
                            }
                            @if (Session["InstructorId"] != null)
                            {
                                if (Session["InstructorProfilePictureURL"] != null)
                                {
                                    <img src="@Url.Content(Session["InstructorProfilePictureURL"].ToString())" alt="" />

                                }

                                else if (Session["HeadProfilePictureURL"] != null)
                                {
                                    <img src="@Url.Content(Session["HeadProfilePictureURL"].ToString())" alt="" />
                                }
                                else
                                {
                                    <img src="~/assets/images/baseline_school_black_24dp.png" alt="no image" class="Avatar center rounded-circle " width="150" height="150" />

                                }
                            }
                            @if (Session["SystemAdminId"] != null)
                            {
                                <img src="@Url.Content(Session["AdminProfilePictureURL"].ToString())" alt="" />
                            }

                        </span>
                        <span class="account-icon">
                            <span class="fa fa-caret-down fa-lg">
                            </span>
                        </span>
                        <span class="account-summary">

                            <span class="account-name">@Session["FirstName"] @Session["MiddleName"] </span>
                            <span class="account-description">
                                @Session["Department"]
                            </span>
                        </span>
                    </button>
                    <div id="dropdown-aside" class="dropdown-aside collapse">

                        <div class="pb-3">
                            <a class="dropdown-item" href="@Url.Action("Profile", "Home")">
                                <span class="dropdown-icon oi oi-person"></span>
                                Profile
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Logout","Home")">
                                <span class="dropdown-icon oi oi-account-logout"></span> Logout
                            </a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" type="Password" href="@Url.Action("ChangePassword", "Home")">
                                <span class="dropdown-icon oi oi-key"></span>Change Password
                            </a>
                            <a class="dropdown-item" type="text/plain" href="@Url.Action("FAQ", "Home")">
                                <span class="dropdown-icon oi oi-bookmark"></span> FAQ
                            </a>
                        </div>
                    </div>
                </header>

                <div class="aside-menu overflow-hidden shadow-lg ">
                    <div>
                        @if (Session["StudentId"] != null)
                        {

                            @Html.Partial("_StudentMenu")

                        }

                        else
                        {
                            if (Session["Role"] != null)
                            {
                                if (Session["Role"].ToString() == "Head")
                                {
                                    @Html.Partial("_HeadMenu")

                                }
                                if (Session["Role"].ToString() == "Instructor")
                                {
                                    @Html.Partial("_InstructorsMenu")

                                }

                            }
                            else if (Session["Admin"] != null)
                            {
                                @Html.Partial("_AdminMenu")

                            }



                        }
                    </div>
                </div>

                <footer class="aside-footer border-top p-2 shadow-lg">
                    <button class="btn btn-light btn-block text-primary" data-toggle="skin">
                        <span class="d-compact-menu-none">
                            Night mode

                        </span> <i class="fas fa-moon ml-1"></i>
                    </button>
                </footer>
            </div>
        </aside>
        <main class="app-main">

            <div class="wrapper">

                <div class="page">
                    <div class="page-inner">
                        <div class="page-section">
                            <div class="section-block">
                                @*<h5 class="text-danger">@TempData["Error"]</h5>*@
                                <h5 class="text-success"> @TempData["Sent"]</h5>
                                @Html.Partial("_ModalView")
                                @RenderBody()

                            </div>
                        </div>
                        <hr />
                        <footer class="border-bottom p-sm-4">
                            @*<footer class="bd-footer py-5 mt-5 bg-light">*@
                            <div class="container py-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="d-inline-flex align-items-center mb-4 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                                            @*<img src="~/assets/images/baseline_school_black_24dp.png" height="40" width="40" />*@
                                            <span class="menu-link"><i class="fas fa-graduation-cap ql-size-large" style="width:25px"></i></span>
                                            <span class=""> | OSAA - Online Student<br />| Academiic Advisory</span>
                                        </a>

                                        <ul class="list-unstyled small text-black">
                                            <li class="mb-2">
                                                The term OSAA ia an abrivation that stands for Online Studet Academic Advisory.
                                                It is a system that enables the students and project advisors get in touch with
                                                everything at hand. it basically
                                                ensures a well organized and secured
                                                communication between or among student(s)
                                                and advisor in accordance to facilitate communication.
                                            </li>

                                        </ul>
                                    </div>
                                    <div class=" col-md-6">
                                        <h5>Links</h5>
                                        <ul class="list-unstyled horizontal">

                                            <li class="mb-2"><a href="/">Home</a></li>
                                            <li class="mb-2"><a href="/docs/5.1/">FAQ</a></li>
                                            <li class="mb-2"><a href="#"</a>Create Project</li>
                                            <li class="mb-2"><a href="#">Profile</a></li>
                                            <li class="mb-2"><a href="#">Feedback</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-lg-2 mb-3">

                                    </div>
                                    <div class="col-6 col-lg-2 mb-3">

                                    </div>
                                    <div class="col-6 col-lg-2 mb-3">

                                    </div>
                                </div>
                            </div>
                            @*</footer>*@

                            <div class="col-6 col-lg-15 mb-15" style="position: relative">
                                <p>&copy; @DateTime.Now.Year HU-OSAA</p>
                            </div>
                            <a class="fixed-plugin-button text-dark position-fixed px-3 py-2" href="@Url.Action("Developers","Home")" style="position: absolute; bottom: 1pt; right: 12pt;"><i class="material-icons py-2">Developers</i></a>

                        </footer>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="~/Resources/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Resources/assets/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/Resources/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Resources/assets/vendor/pace-progress/pace.min.js"></script>
    <script src="~/Resources/assets/vendor/stacked-menu/js/stacked-menu.min.js"></script>
    <script src="~/Resources/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Resources/assets/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="~/Resources/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/Resources/assets/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Resources/assets/javascript/theme.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116692175-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-116692175-1');
    </script>

</body>
</html>
