@model IEnumerable<OnlineStudentAcademicAdvisory.Models.FinalProject>

@{
    ViewBag.Title = "Index";
    int num = 0;
}


<div class="">
    <div class="alert bg-gradient2 text-white mb-0" role="article">
        <h5 style=" color:black">Active Projects Created by you</h5>
    </div>
</div>
<div class=" table-hover table-responsive">
    <table class="table table-hover mb-0">
        <tr>
            <th>
                No
            </th>
            <th>
                Project Title
            </th>
            <th>
                Description
            </th>

            <th>
                No of students
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            num++;
            <tr>

                <td>
                    @num
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                   @Html.DisplayFor(modelItem => item.NoOfStudents)

               
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <a href="@Url.Action("StudentDetails","FinalProjects", new { id = item.Id }) ">
                        Project Details

                    </a>
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
@Html.ActionLink("Membership", "Membership", "FinalProjects")


